body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul{
    padding: 0px!important;
}


/* header css */
.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo{
    float: left;
    padding: 16px;
    margin-left: 17px;
    width: 70%;
}

.redes-sociais ul li{
    margin-left: 21px;
    display: inline-block;
    float: left;
    list-style: none;
    padding-left: 11px;
}
.redes-sociais{
    width: 25%;
    float: right;
}



/* search bar */
.header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 15px;
}

.menu-urls{
    border-bottom: 3px solid #efefef;
    height: 80px;
}

.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu ul li:hover{
    border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover{
    color: #00bac6;
}
.menu{
    width: 70%;
    float: left;
    margin-left: 17px;
}

.busca{
    text-align: center;
    width: 30%;
    float: right;
}

.busca input{
    background-image: url('../img/icone-search.png');
    background-repeat: no-repeat;
    background-position: 93%;

    height: 10px;
    padding: 12px;
    width: 160px;
    margin-top: 3px;

    border: 1px solid #d6d6d6;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/anterior.png);
    top: 35%;
    left: 14%;
}

button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/proximo.png);
    top: 35%;
    right: 14%;
}

.slider-principal{
    width: 100%;
}

ul.slick-dots li button{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 0;
    border: 3px solid #ffffff;
    border-radius: 50%;
}

ul.slick-dots li.slick-active{
    background-color: #00bac6;
}